/* Base styles for the navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Adjusted padding for better responsiveness */
  background-color: black;
  color: #fff;
}

/* Styles for navbar-brand which contains logo and name */
.navbar-brand {
  display: flex;
  align-items: center;
}

/* Logo styles */
.navbar-logo {
  height: 50px; /* Adjust size as needed */
  width: auto;
  margin-right: 10px;
}

/* Name styles */
.navbar-name {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(195, 58, 195);
  text-align: center;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Reduced padding for smaller screens */
  }

  .navbar-logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar-name {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .navbar-name {
    font-size: 1em;
  }
}
